
.logo {
    height: 50px;
    width: 50px;
}
.img {
    height: 100px;
    width: 100px;
    border-radius: 50px;
}
div {
    padding: 4px;
    
    margin: 5px;
    border-radius: 20px;
    
}
h1{
    color:antiquewhite;
    text-decoration-line: underline;
}
h3 {
    text-decoration-line: underline;
  
    
}
.con {
   
    margin-top: 10px;
}
.main {
    color :rgb(11, 80, 80);
    display: flex;
    background-color:b;
    padding: 5px;
    font-family:Georgia, 'Times New Roman', Times, serif;
    
}
.Professional {
    display: flex;
    flex-direction: column;
    background-color: whitesmoke;
   
}
.Edudetails1 {
    display: flex;
    background-color:whitesmoke;
}
.edu {
    margin-left: 12px;
}


.border {
    border: 1px solid black;
}
.Personal{
    margin-top: 20px;
    background-image: url("src/temp.avif");
    background-repeat: no-repeat;
    background-size: cover;
    color:whitesmoke;
}
.name {
        margin-top: 100px;
        text-align: center;
    
}
 
.border :hover {
    /* background-color:rgb(0, 0, 0); */
    /* box-shadow: 0 0 25px #ccc6bc; */
    border-radius: 10px;
 
    color:rgb(0, 0, 0);
    text-decoration-line: underline;
    font-weight: bolder;
}
.con p{
    width: 500px;

}
/* img :hover {
    background-color:white;
    box-shadow: 0 0 25px white;
    border-radius: 10px;
    color:white;
   
} */